#topmost {
    background-color: rgb(179, 222, 219);
    border-style: double;
    display: flex;              /* Añade Flexbox */
    align-items: center;        /* Centra verticalmente */
    justify-content: space-between; /* Espacia los elementos */
    padding: 10px;  
}

#title {
    text-align: center;
    padding-left: 20px;
}
#mid_text {
    text-align: center;
    padding-left: 20px;
}

#lowermost {
    background-color: rgb(179, 222, 219);
    border-style: double;
    width: 100%;
    display: flex;              /* Añade Flexbox */
    align-items: center;        /* Centra verticalmente */
    justify-content: space-between; /* Espacia los elementos */
    padding: 10px;
    
}

#section2 {
    background-color: rgba(32, 198, 153, 0.615);
    border-style: solid;
    border-color: black;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
#language{
    alignment-baseline: right;
    padding-right: 20px;
    width: 150px;
    height: auto;
    font-size:large;
}
.sc_logo {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-right: 20px; /* Espacio a la derecha */
    border-radius: 10px;
}

.op_title {
    text-align: center;
}
.trip_box_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%; /* Ocupa todo el ancho disponible */
}

.trip_box_content img {
    width: 100%; /* Las imágenes ocupan todo el ancho de su columna */
    height: auto;
    object-fit: cover; /* Opcional: ajusta la imagen al espacio */
}
.trip_box{
    background-color: rgba(32, 198, 153, 0.615);
    border-style: solid;
    border-color: black;
    margin: 20px;
    padding: 20px;
}

#logo {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-right: 20px; /* Espacio a la derecha */
    border-radius: 30px;
}

#main_content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(125, 178, 232);
}
#left_section {
    display: grid;
    grid-template-columns: 1fr;
    flex: 2; 
    padding: 20px;
}
#side_bar {
    flex: 1;
    padding: 20px;
    border: dashed;
}
