#topmost {
    background-color: rgb(179, 222, 219);
    border-style: double;
    display: flex;              /* Añade Flexbox */
    align-items: center;        /* Centra verticalmente */
    justify-content: space-between; /* Espacia los elementos */
    padding: 10px;  
}

#title {
    text-align: center;
    padding-left: 20px;
}
#mid_text {
    text-align: center;
    padding-left: 20px;
}

#lowermost {
    background-color: rgb(179, 222, 219);
    border-style: double;
    width: 100%;
    display: flex;              /* Añade Flexbox */
    align-items: center;        /* Centra verticalmente */
    justify-content: space-between; /* Espacia los elementos */
    padding: 10px;
    
}

#section1 {
    background-color: rgba(32, 198, 153, 0.615);
    border-style: solid;
    border-color: black;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
#language{
    alignment-baseline: right;
    padding-right: 20px;
    width: 150px;
    height: auto;
    font-size: xx-large;
}
.sc_logo {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-right: 20px; /* Espacio a la derecha */
}

.op_title {
    text-align: center;
}
.part {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre las imágenes */
}

.trip_box{
    background-color: rgba(32, 198, 153, 0.615);
    border-style: solid;
    border-color: black;
    margin: 20px;
    padding: 20px;
}
#massive_container{
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}