body {
    background: url(/media/ecommerce-para-agencias-de-viajes.jpg);
    background-size: cover;
}


/* HEADER STYLE */
#topmost {
    background-color: rgb(179, 222, 219);
    border-style: double;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#title {
    text-align: center;
    padding-left: 20px;
}

#mid_text {
    text-align: center;
    padding-left: 20px;
}

#logo {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-right: 20px; /* Espacio a la derecha */
    border-radius: 30px;
}

#language{
    alignment-baseline: right;
    padding-right: 20px;
    width: 75px;
    height: 35px;
    font-size:large;
    border-radius: 10px;
}


/* MAIN CONTENT STYLE */
#main_content {
    display: flex;
}

#left_section {
    flex: 2;
    align-items: stretch;
}

/* LEFT SECTION UPPER CONTENT*/

#left_section1 {
    background-color: rgb(255, 255, 255, 0.6);
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    border-radius: 5px;
    border-style: groove;
    border-color: black;
}


.slide_buttons{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border-style: hidden;
}

.upper_trip_box {
    background: url(/media/vietnam_landscape.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px;
    padding: 20px;
    border-style: inset;
    border-color: black;
}

.upper_trip_box h3,
.upper_trip_box h2 {
    background: rgba(255,255,255,0.8); /* Fondo blanco semitransparente */
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}

/* LEFT SECTION BOTTOM CONTENT */
#left_section2 {
    background-color: rgba(32, 198, 153, 0.615);
    border-style: solid;
    border-color: black;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}


.op_title {
    text-align: center;
}
.trip_box_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%; /* Ocupa todo el ancho disponible */
}

.trip_box_content img {
    width: 100%; /* Las imágenes ocupan todo el ancho de su columna */
    height: auto;
    object-fit: cover; /* Opcional: ajusta la imagen al espacio */
}
.trip_box{
    background-color: rgba(32, 198, 153, 0.615);
    border-style: solid;
    border-color: black;
    margin: 20px;
    padding: 20px;
}
.mambutton{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

}

/* STYLE ASIDE BAR */
#side_bar {
    flex: 1;
    padding: 20px;
    border: 3px solid rgba(32, 198, 153, 0.7);
    border-radius: 18px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255,0.7); /* fondo semitransparente */
}

#side_bar img {
    width: 100%; /* Las imágenes ocupan todo el ancho de su columna */
    height: auto;
    object-fit: cover; /* Opcional: ajusta la imagen al espacio */
}

#side_bar h3,
#side_bar h2,
#side_bar ul {
    background-color: rgba(95, 240, 220, 0.733);
    border-radius: 5px;
}

label {
    display: block;
}

#side_bar input[type="text"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #312c2c;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

#side_bar button {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(58, 177, 22);
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}

#side_bar input[type="checkbox"] {
    margin-top: 10px;
    width: 20px;
    height: 30px;
    background-color: rgb(58, 177, 22);
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}

/* FOOTER STYLE*/
#lowermost {
    background-color: rgb(179, 222, 219);
    border-style: double;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}

.sc_logo {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-right: 20px; /* Espacio a la derecha */
    border-radius: 10px;
}
